body{
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    /* display: flexbox; */

    /* justify-content: center; */
    /* align-items: baseline; */
}

#container_1{
    display: block;
    background-color:hsl(216, 50%, 16%);
    max-width: 21rem;
    min-height: 36rem;
    margin: 25vh auto 0;
    position: relative;
    display: flex;
    align-items: center;

    /* flex-direction: column; */
    justify-content: center;
    flex-flow: column wrap;
    /* padding: 0; */
    /* top: 1em; */
    bottom: 7em;
    border-radius: 10px;
    /* border-style: solid; */
    /* border-width: 5px; */
    /* border-color: hsl(215, 51%, 70%); */

    z-index: 10;
}




#img_container{
    margin: 0rem;
    padding: 0;
    padding-right: 0px;
    border: 2em;
    height: 18rem;
    width: 18rem;
    position: relative;
    bottom: 20px;
    margin-top: 6px;
    margin-left: 7px;
    margin-bottom: 34px;
    background-color: cyan;
    border-radius: 11px;
    margin-right: 11px;
/* background-color: red; */
}

#block{
    border-radius: 9px;
    width: 100%;
    height: auto;
   
}

#block:hover {
    opacity: .5;
    
    cursor: pointer;
    /* color: cyan; */
}

#eye_icon{
    display: none;
    position: relative;
    bottom: 169px;
    left: 122px;
}

#block:hover + #eye_icon{
    display: block;
}

#eye_icon:hover{
    display: block;
    /* opacity: 0.5; */
    cursor: pointer;
}

/* on icon hover bgcolor disappears */
/* #eye_icon:hover + #block{
    opacity: .5;
    cursor: pointer;
} */

#written_content{
height: 5rem;
width: 20rem;
/* background-color: yellow; */
position: relative;
bottom: 31px;
color: white;
padding-left: 17px;
/* padding-right: 2px; */
}

#Heading{
    margin: 0;

}

#Heading:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

#info{
    color:  hsl(215, 51%, 70%);
}

#display_content_1{
height: 2rem;
width: 19rem;
/* background-color: purple; */
display: flex;
margin: 0px;
margin-top: 8px;
}

#p_2{
    color: hsl(178, 100%, 50%);
    margin: 0;
    padding-left: 9px;
    position: relative;
    bottom: 2px;
}

#clock_icon{
    position: relative;
    left: 84px;
}
#p_3{
    color:hsl(215, 51%, 70%) ;
    margin: 0;
    padding-left: 4px;
    position: relative;
    bottom: 3.2px;
    left: 84px;
}


#line{
    width: 17rem;
    border: solid hsl(215, 51%, 70%) 0.1px;
    position: relative;
    left: -10px;
    background: hsl(215, 51%, 70%) 1px;
    margin-top: 11px;
    
}


#display_content_2{
    height: 2rem;
    width: 20rem;
    margin: 4px;
    /* background-color: cyan; */
    display: flex;
    justify-content: space-around;

}

#creation{
   color:  hsl(215, 51%, 70%);
   position: relative;
    bottom: 13px;
    right: 12px;
}

#avatar{
    width: 32px;
    height: 32px;
    border: solid;
    border-radius: 26px;
    border-color: white;
}


#name{
    color: white;
    position: relative;
    bottom: 13px;
    right: 36px;
}

#name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}